<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="listeners.Listener"></listener>
    </listeners>
    <test  name="FlipKartLoginTest">
        <classes>
            <class name="tests.FlipKartLoginTest">
            </class>
        </classes>
    </test>
    <test  name="FlipKartSearchProductTest">
        <classes>
            <class name="tests.FlipKartSearchProductTest">
            </class>
        </classes>
    </test>
    <test  name="FlipKartAddingRemovingProduct">
        <classes>
            <class name="tests.FlipKartAddingRemovingProduct">
            </class>
        </classes>
    </test>
</suite>